@media (max-width: 991.98px) {
  .display-none {
    display: none !important;
  }
  .search-button {
    font-size: 10px;
  }
  .Login-Register a {
    font-size: 10px;
  }
  .btn-group button {
    font-size: 13px;
  }
  .badge {
    top: 0px;
    padding: 4px;
    left: 30px;
    font-size: 7px;
  }
  .input-group {
    height: 30px;
  }
  .single-image,
  .single-image img {
    height: 400px;
  }
  .author-card-avatar img {
    margin-top: -20%;
  }
  .order-box {
    width: 50px;
    height: 50px;
    font-size: 15px;
  }
  .order-detail p {
    font-size: 12px;
  }
  .order-detail {
    padding: 20px 0;
  }
  .order-detail h5 {
    font-size: 13px;
  }
  .subtotal-order button {
    margin-bottom: 30px;
  }
  .single-product {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .pc-header {
    display: none !important;
  }
  .mobile-header {
    display: block;
  }
  .cart-mobile-icon i {
    font-size: 13px;
    margin-left: 10px;
  }
  .btn-group button {
    font-size: 12px;
  }
  .mobile-header img {
    width: 60px;
  }
  .input-group {
    width: 100%;
    margin-top: 5px;
  }
  .search-button {
    width: 30%;
  }
  .hero-banner-container {
    height: 400px;
  }
  .hero-banner-image {
    width: 40%;
    height: 62%;
    top: 60%;
    right: 2%;
  }

  .subscribe-head .form-section input[type="email"] {
    height: 45px;
    width: 70%;
  }
  .subscribe-head .form-section input[type="submit"] {
    height: 47px;
    padding: 0 58px;
  }
  .subscribe-head h2 {
    font-size: 25px;
  }
  .contact-Box {
    display: block;
    vertical-align: top;
    max-width: 650px;
  }
  .contactInfo {
    padding: 20px 20px;
  }
  .cart-buttons {
    margin: 40px 0;
  }
  .cart-buttons a button,
  .cart-buttons .d-flex button {
    width: 100%;
  }
  .total .sub,
  .total .total-price {
    font-size: 16px;
  }

  .single-image {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .product-name {
    font-size: 23px;
  }
  .author-card-avatar {
    display: none;
  }
  .order-detail {
    margin-top: 20px;
  }
}
@media (max-width: 575.98px) {
  .subscribe-head .form-section input[type="email"] {
    width: 100%;
  }
  .subscribe-head .form-section input[type="submit"] {
    width: 100%;
    padding: 0 0;
    margin-top: 20px;
    margin-left: 0px;
  }
  .subscribe-head h2 {
    font-size: 25px;
  }
  .subscribe-section {
    padding: 70px 0 70px;
  }
  .card-name {
    width: 8%;
    margin: 0 7px;
  }
  .login-center {
    padding: 20px 0;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .center h5 {
    font-size: 17px;
    margin-top: 10px;
  }
  .center p {
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  .subscribe-head h2 {
    font-size: 20px;
  }

  .single-image,
  .single-image img {
    height: 200px;
  }
}

/* SHOP SECTION */
.mobile-block {
  display: none;
}

@media (max-width: 1200px) {
  /* tablet devices */
}
@media (max-width: 992px) {
  /* small tablet devices */
  .slider-main .item-slide {
    height: auto;
  }

  .table-shopping-cart tr td:first-child {
    width: 250px;
  }
  .table-shopping-cart .itemside .info {
    padding: 0;
  }
  .table-shopping-cart .itemside .aside {
    display: none;
  }
}
@media all and (max-width: 768px) {
  /* mobile devices */
  .mobile-block {
    display: block;
  }

  .mobile-hide {
    display: none;
  }

  .section-header .logo {
    max-height: 40px;
    width: auto;
  }
  .section-header .header-main .brand-wrap {
    margin-bottom: 1rem;
    display: inline-block;
  }
  .section-header .header-main .search {
    margin-bottom: 1rem;
  }

  .item-feature {
    margin-bottom: 20px;
  }

  .mobile-order-first {
    order: -1;
  }

  .mobile-order-1 {
    order: 1;
  }

  .mobile-order-2 {
    order: 2;
  }

  .mobile-order-3 {
    order: 3;
  }

  .mobile-py {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mobile-pb {
    padding-bottom: 20px;
  }

  .mobile-pt {
    padding-top: 20px;
  }

  .navbar-expand .navbar-collapse {
    flex-direction: column;
  }
  .order-id-content .order-price {
    position: relative;
    margin-top: 16px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .order-id-content .order-price {
    position: absolute;
    margin-top: 0;
  }
}
